[2016-11-21 08:40] beelit94 opened #1 "Make option with bool value/ more sense for the caller"
For the caller,
There's a confusion about how to distinguish between option with bool value (ex. input=false) and flag option (ex. -force, -no-color)

IMHO, there's make no sense for a command line option accept a boolean value which could simply represent by raising a flag or not.
ex.
[code]

Without changing from terraform itself, try a good a way to provide a consistent interface for caller of

[2016-11-24 08:13] #1 closed

[2017-01-03 15:06] beelit94 opened #3 "Refactor readme and how default value being passed"
1. Put examples up-front for better readability, and example of how default value work and the output
2. refactor how default value being created

[2017-01-04 06:30] #3 closed

[2017-03-23 16:29] benjaminpottier opened #6 "provider.aws: InvalidClientTokenId"
I'm trying to pass credentials to terraform like so:

    t.cmd(COMMAND, var=foo)

COMMAND is one of 'apply', 'destroy', 'plan', 'refresh'

and foo is a dictionary {'access_key':'blah', 'secret_key':'blah'} generated dynamically

if I use foo then I get provider.aws: InvalidClientTokenId: The security token included in the request is invalid. But if I just create a static dictionary with the same

[2017-03-23 17:46] benjaminpottier commented on #6
never mind ... it was a timing issue (sorry)

[2017-03-26 09:06] beelit94 commented on #6
@benjaminpottier Thank you for the question. I actually can't figure out what kind of timing issue will result different behavior between static dictionary and dynamic one. Would you mind share more a little bit :) Feel free to close the ticket in anytime

[2017-03-26 12:32] benjaminpottier commented on #6
It was just that when I was using the static dictionary I was using credentials that I had already generated. When I used the dynamic dictionary I was trying to use the credentials too soon after generating them, needed to wait about ten seconds before they were valid.

[2017-03-26 12:32] #6 closed

[2017-05-05 03:07] tshchensek opened #8 "Can't use import subcommand"
Hi,

With Python 2.7.10, the compiler can't parse the `import` subcommand:
[code]

How would you advise getting around that?

Thanks

[2017-05-09 06:03] beelit94 commented on #8
@tshchensek
Thank you for reporting this, didn't consider this case before. I should definitely fix it.
For a quick workaround, you can simply use cmd method
`t.cmd('import', 'aws_instance', 'i-abc123')`

[2017-05-09 07:52] beelit94 commented on #8
@tshchensek
Fix with https://github.com/beelit94/python-terraform/pull/9
Feel free to review it.

[2017-05-09 14:08] tshchensek commented on #8
#9 LGTM, thanks for addressing this

[2017-05-13 15:50] beelit94 commented on #8
fixed in 0.8.5

[2017-05-13 15:50] #8 closed

[2017-06-22 03:03] narasimha18sv opened #10 "log handler error on Linux environment"
In Windows environment python-terraform is working properly but when I try the same in the linux getting the below error
No handlers could be found for logger "python_terraform"

After manually updating the log handler in __init__.py file it worked properly.
handler = logging.StreamHandler()
log.addHandler(handler)

[2017-06-22 17:28] beelit94 commented on #10
Hi @narasimha18sv I can't reproduce this on my linux box,
Can I have your python version, os platform version?
It will be more helpful if you could provide a simple script that could reproduce this issue on your environment.

[2017-06-22 17:50] beelit94 opened #11 "For remote state, the default tf.tfstate file is not working"
Shouldn't assume the default is tf.tfstate file when remote state is configure.
Need to figure out what's the proper setting for default and how to read the output of remote state

[2017-06-22 18:15] narasimha18sv commented on #10
https://github.com/oracle/terraform-provider-baremetal/tree/master/docs/examples/compute/single_instance
the above is the terraform script I am executing. and python version is 2.7.5

[2017-06-23 21:12] beelit94 commented on #10
@narasimha18sv I still can't reproduce the issue on 2.7.5, could I have the python script that where you import python_terraform?

[2017-08-02 00:31] beelit94 opened #12 "Output function doesn't accept parameter 'module'"
`self.tf.output('master_record_name', module="master")`
get
`TypeError: output() got an unexpected keyword argument 'module'`

[2017-08-04 11:08] narasimha18sv opened #14 "Getting error with terraform plan command"
from python_terraform import Terraform, IsFlagged
from utils import load_bcms_config

conf=load_bcms_config("config.yaml") # code to read yaml file with required values
script_dir="/root/examples/compute/instance/"
tf = Terraform(working_dir=script_dir, variables=conf)
tf.plan()

terraform script i am using :
https://github.com/oracle/terraform-provider-baremetal/tree/master/docs/examples/compute/

[2017-08-04 17:09] beelit94 commented on #14
Hi @narasimha18sv
Could you try inserting the follow script to the above of "tf = Terraform(......"
And provide the debug log for me?
[code]

[2017-08-04 23:19] #12 closed

[2017-08-06 19:00] narasimha18sv commented on #14
2017/08/06 14:59:39 [ERROR] root.single_instance_volume: eval: *terraform.EvalConfigProvider, err: asn1: structure error: tags don't match (2 vs {class:0 tag:16 length:13 isCompound:true}) {optional:false explicit:false application:false defaultValue:<nil> tag:<nil> stringType:0 timeType:0 set:false omitEmpty:false} int @2
2017/08/06 14:59:39 [ERROR] root.single_instance_volume: eval: *terraform.E

[2017-08-07 04:35] narasimha18sv commented on #14
After changing few config values of path getting like this.
error: b''
WARNING:python_terraform:error: b''

[2017-08-07 08:35] narasimha18sv opened #15 "terrafrom plan command not taking -out option"
options={"-out": plan_dir+os.sep+temp}
terraform.plan(dir_or_plan=plan_dir, detailed_exitcode=IsFlagged, kwargs=options)

above is the code which i wrote to generate terraform plan to a output file.
but from the debug logs I can see log as it generrated -out file but I dont see that file in the command execution.

Log:

DEBUG:python_terraform:variables wrote to tempfile: {'-out': 'D:\\temp\\3603c5

[2017-08-08 07:30] beelit94 commented on #15
@narasimha18sv Thank you for your report.
For this one, what you trying to achieve should be
[code]
or
[code]
These will translate to output command
[code]

Because kwargs in python here is to accept an undefined keywords parameter, passing `kwargs=options` won't pass each key value pair in "options" as parameter, instead, it will pass a parameter called "kwargs" and its value is "options". See ht

[2017-08-08 07:32] beelit94 commented on #14
Hi @narasimha18sv Thank you for your info,
Sorry I should be more specific,
Could you get the part in the log which contain "DEBUG:python_terraform:command...."?
And could you provide the 1. version of terraform 2. version of python as well?

[2017-08-08 07:38] beelit94 commented on #15
BTW we didn't handle when there's an empty space in the path, the command call would fail.
This will be a bug, we will fix it.

[2017-08-08 17:10] beelit94 opened #16 "Handle empty space/special characters when passing string to command line options"
like
[code]
this will fail due to not double quoting the parameter

[2017-08-08 22:00] beelit94 commented on #16
https://github.com/beelit94/python-terraform/pull/17

[2017-08-08 22:02] #16 closed

[2017-08-09 17:17] beelit94 commented on #15
empty space is fixed by https://github.com/beelit94/python-terraform/pull/17

[2017-08-16 06:41] beelit94 commented on #15
@narasimha18sv any further question for this?

[2017-08-16 10:02] narasimha18sv commented on #15
no. everything is working fine for me.

[2017-08-16 17:34] #15 closed

[2017-08-25 15:21] maxadamo commented on #10
I have the same issue.
it work if I run it from the command line (for instance using iron python), but it doesn't work from the script.
I worked it around by adding:
`logging.basicConfig()`

you can check my script here (line 229):
https://github.com/maxadamo/terraformware/blob/master/bin/terraformware

[2017-08-28 18:07] #11 closed

[2017-08-28 18:46] beelit94 commented on #10
@maxadamo @narasimha18sv I think I figure out the fix. Logging module need at least one handler configured. plz check https://github.com/beelit94/python-terraform/pull/20

[2017-08-28 18:47] beelit94 commented on #10
Fixed in https://github.com/beelit94/python-terraform/pull/20

[2017-08-28 18:47] #10 closed

[2017-09-01 16:51] beelit94 commented on #11
This fix also include passing dictionary type to backend config of init command

[2017-10-13 16:19] sammck opened #22 "Terraform.output() has incomplete implementation"
The "output" command has a few problems:

1) It does not support the case where "name" is omitted, which allows you to fetch all outputs as a single dictionary
2) It does not return the "type" attribute of the output and it maps any value to type "string" rather than respecting the "type" attribute.
3) It does not return the "sensitive" attribute.
4) It provides no way to determine the return code

[2017-10-13 21:03] beelit94 commented on #22
Hi @sammck, it's been a while since I check the output function. So I need some time to look into it. But yes, I would love to add you as a cooperator of this repo. I'm still lack of "how to release" doc, except that, if you're familiar with pytest and travis ci then you're good to go.

[2017-10-13 21:12] sammck commented on #22
@beelit94 I got purest working ok, except I am running terraform v0.10.7 which generates a different expected output for "plan". I don't want to downgrade terraform. What do you prefer: a) update everybody to current terraform, or b: support multiple alternative expected outputs?

[2017-10-13 21:13] sammck commented on #22
fyi I submitted a pull request, which is breaking because of tf v0.10.7 dependency in test...

[2017-10-13 21:30] sammck commented on #22
This issue is resolveed for me with pull request https://github.com/beelit94/python-terraform/pull/24

[2017-10-14 06:28] beelit94 opened #25 "Test code has version compatibility issue"
Refer to https://github.com/beelit94/python-terraform/pull/24
Dev with different terraform version should be able to pass tests without issue.

[2017-10-14 06:30] beelit94 commented on #14
@narasimha18sv Do you still see this issue? I'll close this within a week if we don't have any follow-up for this :)

[2017-10-16 17:23] #22 closed

[2017-10-31 11:23] narasimha18sv commented on #14
No this issue is not coming now.

[2017-10-31 11:30] narasimha18sv opened #26 "passing ssh private key to terraform"
How to pass ssh private key data to terraform script ?

if i read the id_rsa key generated already I cannot place it inside the file.

My code is creating a terrafrom module file. for example
module "consul" {
  source  = "hashicorp/consul/aws"
  servers = 3
}
Like above I am passing my private key. but facing issues as private key as it contains \n(new line)

How to I resolve this. Please let me

[2017-11-01 18:59] beelit94 commented on #26
@narasimha18sv I'm not quite understand what you're trying to achieve,
I'm looking at https://registry.terraform.io/modules/hashicorp/consul/aws/0.0.5?tab=inputs
and it doesn't require you to input your private key, but only name of the key pair.

Could you provide more detailed example?
Usually only the public key is the one we need to give it away, not the private key.
If you're trying to ssh ac

[2017-11-01 19:10] sammck commented on #26
Perhaps the question is simply how to pass a multi line string in a terraform config file. This is a general terraform HCL question unrelated to python-terraform, but here is the answer:

Multiline strings can use shell-style "here doc" syntax, with the string starting with a marker like <<EOF and then the string ending with EOF on a line of its own. The lines of the string and the end marker must

[2017-11-29 03:10] automaticgiant opened #28 "var_file doesn't support hcl"
correct if wrong, but would be nice to use existing `tfvars` files.
was unable to `tf = Terraform(var_file='pathtotfvarsfile')`
UPDATE
the plot thickens (after i moved it)
[code]
i guess it just reads it and ignores it then?

right now i'm actually using    `ret, out, err = tf.plan('-var-file=presets/stsdev-dms.tfvars')`

i guess that means this doesn't matter, but it might warrant a mention in th

[2017-11-29 03:16] automaticgiant opened #29 "unable to get output from validate"
both come out empty, and can't get output from `capture_output=False` either.
[code]
tried outside pytest to make sure that wasn't stealing the output.
but i can get error output like:
[code]
so i guess it seems to be just when it exits 0?

[2017-11-29 18:00] beelit94 commented on #28
@automaticgiant can you give us the example of your tf file and var file? what's the terraform version you're using?
tf = Terraform(var_file='pathtofvarsfile') should be working fine from my testing

[2017-11-29 18:11] beelit94 commented on #29
1. capture output should be true to be able to read things from 'out' and 'err'
2. "NO_CHANGES in out" will only be true when you fix the error. which is you missing a variable 'LOB'
3. "NO_CHANGES in err" is not correct, err is for stderr, which will be error message

[2018-01-17 23:06] beelit94 commented on #29
@automaticgiant I'm closing this ticket, feel free to reopen this if you have any further questions

[2018-01-17 23:06] #29 closed

[2018-01-17 23:06] beelit94 commented on #28
@automaticgiant closed the ticket for now, feel free to reopened if needed

[2018-01-17 23:06] #28 closed

[2018-01-23 16:10] jangrewe commented on #14
@narasimha18sv I'm getting this error after `plan` if there are changes to be applied.
Terraform: v0.11.2
Python: 3.6.3

[code]

[2018-01-23 16:20] narasimha18sv commented on #14
I dont see any error in the below output you sent to me . Could you please
tell me what error you are facing here exactly.

On 23 Jan 2018 9:40 pm, "Jan Grewe" <notifications@github.com> wrote:

[2018-01-23 16:26] jangrewe commented on #14
Ah, i omitted that, assuming you'd know it's about that `b''`.
The next line i get from my logger is:
[code]

[2018-01-23 16:31] narasimha18sv commented on #14
Yes. That is the warning coming from terraform which we can ignore because
plan is getting generated properly which executes when apply .

On 23 Jan 2018 9:56 pm, "Jan Grewe" <notifications@github.com> wrote:

Ah, i omitted that, assuming you'd know it's about that b''.
The next line i get from my logger is:

[2018-01-23 17:03:42] WARNING error: b''

—
You are receiving this because you were menti

[2018-01-23 17:56] jangrewe commented on #14
Is there any way of getting rid of the warning? There's no actual warning in the Terraform output, so i'm guessing you are outputting the warning because of the return code == 2?
I'd really prefer to have "clean" output without any false positives ;-)

[2018-02-06 21:10] tehremo opened #31 "apply command hangs"
I can perform an init() and plan() without issue, but when calling apply() the command never completes. Here is the output after I stop it.

`    print(tf.apply())
  File "/usr/local/lib/python3.6/site-packages/python_terraform/__init__.py", line 103, in apply
    return self.cmd('apply', *args, **option_dict)
  File "/usr/local/lib/python3.6/site-packages/python_terraform/__init__.py", line 277,

[2018-02-06 21:13] tehremo commented on #31
Here are the commands I use:
`
tf = Terraform(working_dir=dir_path, var_file=file_name)
    print(tf.init(reconfigure=True))
    print(tf.plan())
    print(tf.apply())
`

This is the output:
(0, '\nInitializing provider plugins...\n\nThe following providers do not have any version constraints in configuration,\nso the latest version was installed.\n\nTo prevent automatic upgrades to new major vers

[2018-02-07 04:25] zhujinghui opened #32 "how can I use the option "-auto-approve""
Hi,

when I invoke tf.apply(), how can I use the option "-auto-approve"?

Thank you.

[2018-02-07 13:37] tehremo commented on #31
I got it figured out. I needed to pass in the `-auto-approve` flag via **kwargs:

`
kwargs = {"auto-approve": True}
print(tf.apply(**kwargs))
`

[2018-02-07 13:37] #31 closed

[2018-02-07 13:39] tehremo commented on #32
You can use `**kwargs`:

[code]

[2018-02-07 19:14] beelit94 commented on #32
Please leave this ticket open, I think we already change this to default just not release yet

[2018-02-13 10:59] dragan1979 opened #33 "Test code doesn't work"
I tested it in terraform syntax and it works,but python script have no output, it's just stuck, hen click enter, script exists but instance is not created.

Terraform v0.11.3
Python 3.6.4
CentOS7
uname -a
3.10.0-693.11.6.el7.x86_64

pip install python-terraform

script:

#!/bin/python
from python_terraform import *
tf = Terraform()
tf.apply('/home/ja/terraform-course/demo-3', no_color=IsFlagged, r

[2018-02-13 12:17] dragan1979 commented on #33
Found it in closed issues :)
needed to add print command to see output and auto-confirm

so these lines solved the issue:
  `approve = {"auto-approve": True}
print(tf.plan())
print(tf.apply(**approve))'`

[2018-02-13 12:17] #33 closed

[2018-02-14 17:25] dragan1979 opened #34 "Run python-terraform multiple times (in loop)"
Hi,

i'm new to python. I created a script to iterate through JSON file to find field email address, and remove part after @. This value is username for EC2 instance which will be created using terraform.For every user number of instances will be prompted interactively. (Terraform will be invoked from python script). Everything works fine when only one email is specified in JSON,but if more than o

[2018-02-14 17:26] dragan1979 commented on #31
Can anyone help me with this: https://github.com/beelit94/python-terraform/issues/34

[2018-02-14 21:58] beelit94 commented on #34
@dragan1979 I think this is an issue relative to your python script not about this module. More appropriate place for this question would be stackoverflow. But I would love to help you look into it as long as you can provide
1. well formatted python script(above is not appropriate formatted)
2. example json data
3. expected output on your console
4. actual output on your console

Cheers

[2018-02-14 22:34] dragan1979 commented on #34
Hi,

I’m forbidden to post on stack overflow because I “didn’t search enough”

I found an issue, it’s on terraform side, but I had slightly to modify python script

https://devops.stackexchange.com/questions/3353/create-multiple-ec2-instances-using-python-script-in-loop-iteration

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: beelit94<mailto:notifications@git

[2018-02-14 22:37] dragan1979 commented on #34
It's on terraform side, i had to create keypair for every new user, after that issue gone away, is this only way to use same tf file for multiple instance creations ?

[2018-02-14 22:37] #34 closed

[2018-02-14 22:38] dragan1979 commented on #31
solved-https://devops.stackexchange.com/questions/3353/create-multiple-ec2-instances-using-python-script-in-loop-iteration

[2018-02-15 18:29] beelit94 commented on #34
@dragan1979 no, you actually don't need to use python loop to create multiple instances. You can simply use "count" variable in terraform
https://github.com/terraform-providers/terraform-provider-aws/tree/master/examples/count
https://www.terraform.io/docs/configuration/resources.html#using-variables-with-count

[2018-02-15 18:47] dragan1979 commented on #34
i know it, but we're using json file to get username and number of instances, so python script reads that file,and for every user creates x instances, script works fine but facing issues that if changing something in tf file (username variable) instance got recreated, i created a module https://1drv.ms/f/s!AizscpxS0QM4ae6fU8I48xN-oF0 but same issue,if i run same code in different zone  no issuues,

[2018-02-15 19:58] dragan1979 commented on #34
Yes, only username variable is changed on next terraform apply, and still instance is destroyed, newest terraform version, moved user data to template file-same issue. In next version feature to prevent this behavior should be added

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: beelit94<mailto:notifications@github.com>
Sent: 15. фебруар 2018 20:20
To: beelit

[2018-02-19 17:51] dragan979 opened #35 "output to text file or to sdout"
i couldn't find from closes and opened issues:
i created output.tf to get instance IP
 how to pipe tf.output() to text file ?

[2018-02-19 21:14] beelit94 commented on #35
[code]

[2018-02-19 22:51] dragan979 commented on #35
thanks, meanwhile i found a workaround, search tfstate file and extract IP, then write it to txt file

[code]

[2018-02-19 22:51] #35 closed

[2018-02-19 22:54] dragan979 commented on #34
finally got it working:turned out i had to create subfolder for each user (./terraform/user1,./terraform/user2....), copy all tf files to these folders,create new security group for every user and only that machines stopped recreating, for every user new machine has been created without destroying it for previous user

[code]

[2018-03-20 01:25] beelit94 opened #36 "Refactor cmd option"
For,
capture_output
raise_on_error
synchronous
options they're trying to manipulate subprocess results and instance itself,
we should figure out a more low level method to handle this in a flexible way instead of keep adding more options.

[2018-04-13 18:48] automaticgiant opened #38 "state"
i had some thoughts/concerns about the state object.

initially, i was confused.
i didn't understand why there was a state object, whose internal dict was replaced with the parsed json.
was thinking about ignoring and/or contributing/suggesting changing it to make the normal nested dict available (instead of using `tf.modules[0]...` would like to do it as if i were using the state json externally.

[2018-04-13 21:30] beelit94 commented on #38
@automaticgiant for state file, I find it hard to understand the structure as well, so I always define "output" to fetch the information I want.
for how to get a better state structure, I believe https://github.com/rodynnz/python-tfstate
repo also work on this, maybe we can bring the library in?
I think it would be more helpful if you can describe a use case of you so we can move this forward :)

[2018-04-15 02:06] automaticgiant commented on #38
example usage: (fixture provides an applied tf config/state and destroys after)
[code]

in `python-tfstate`, i see the `native_data` attribute, which i like.
right now i'm thinking that i at least want to support that, while the rest of the abstraction is potentially in flux.
then we won't have to rewrite our existing tests.
other than that, can't say i really grok `python-tfstate` yet - maybe cou

[2018-04-23 06:27] devops007 opened #39 "No such file or directory: 'terraform' ???"
return_code, stdout, stderr = tf.plan()
  File "/home/westos/Django/jumpserver/python3.5/lib/python3.5/site-packages/python_terraform/__init__.py", line 144, in plan
    return self.cmd('plan', *args, **options)
  File "/home/westos/Django/jumpserver/python3.5/lib/python3.5/site-packages/python_terraform/__init__.py", line 276, in cmd
    cwd=working_folder, env=environ_vars)
  File "/usr/lib64/py

[2018-05-01 00:36] beelit94 commented on #39
@devops007 hi, I'm guessing your binary path is not givien,
Could you attach more detail about how you initiate "tf" instance?
there's a parameter "terraform_bin_path" you can give when you init the instance.

[2018-05-01 00:39] beelit94 commented on #38
Hi @automaticgiant , I also implemented, native_data in our tfstate object,
https://github.com/beelit94/python-terraform/blob/develop/python_terraform/tfstate.py
I guess this should be enough for the use case for now?

[2018-05-01 00:56] beelit94 commented on #32
This is released in 0.10.0 as a default value

[2018-05-01 00:56] #32 closed

[2018-05-07 05:30] beelit94 commented on #39
@devops007 do you manage to resolve this?

[2018-05-11 17:08] tsiq-acheung commented on #14
@jangrewe I've just disabled the detailed exit code to avoid this.

`return_code, stdout, stderr = tf.plan(
        input=False,
        lock=False,
        target=targets,
        out="icp.plan",
        detailed_exitcode=False)`

[2018-05-14 02:17] beelit94 commented on #14
@jangrewe @tsiq-acheung I actually didn't realize that detail exit code will result the false positive warning, I'm reopening this to and will have a PR for this issue.

[2018-05-19 07:25] kshpytsya opened #40 "Add handling of KeyboardInterrupt exception"
Currently, on Linux, pressing `Ctrl-C` while `terraform` subprocess is running, causes my python app to stop, a shell prompt to appear, and spurious output from `terraform` (which sometimes takes a while to stop) to be sent to the terminal on background in an interfering way. I believe that `python-terraform` should wait for `terraform` subprocess somewhere here:
https://github.com/beelit94/python

[2018-05-23 10:30] kshpytsya opened #41 "Use context manager for Popen"
On Python 3.2+ Popen should be used as context manager, otherwise very obscure errors happen on Windows with multiple invocations of Popen.

From https://docs.python.org/3/library/subprocess.html:

[code]

[2018-05-23 17:19] beelit94 commented on #41
@kshpytsya thank you for reporting this. it's awesome to identify this issue. I'll look into it this weekend, or you're always welcome to file a PR for this 👍

[2018-06-05 23:48] beelit94 commented on #39
@devops007 closing for now, feel free to reopen it if needed

[2018-06-05 23:48] #39 closed

[2018-06-05 23:49] beelit94 commented on #26
@narasimha18sv closing for now, feel free to reopen if needed

[2018-06-05 23:49] #26 closed

[2018-07-24 00:41] giridharv20 opened #42 ".apply(**kwargs) or .apply() hangs"
I am trying to run 'apply' but it hangs.

I have included my code below:
// t = Terraform(working_dir='../terraform/jobs/test_1', variables=variables)
t = Terraform(working_dir='../terraform/jobs/test_1')
t.init()
return_code, stdout, stderr = t.plan()
print stdout

kwargs = {"auto-approve": True}
return_code, stdout, stderr = t.apply(var=variables, **kwargs)
// even the code below hangs
//return_

[2018-07-26 18:32] giridharv20 commented on #42
Thank you for the response.
Surely will try the 'skip_plan' arg.
Yes i have validated that my terraform package works standalone through the command line.
Also it does work with python-terraform v 0.8.6, but not the latest version 0.10.0.

[2018-07-26 20:37] #42 closed

[2018-08-12 12:48] umairedu opened #43 "capture plan out not working in apply"
I can't use plan output in apply argument
tf.plan(input=False, lock=False, capture_output=True, out='my_plan')
tf.apply(skip_plan=True, 'my_plan')

[2018-08-12 19:05] umairedu commented on #43
my bad i fixed by changing the order
tf.apply('./my_plan', skip_plan=True)

[2018-08-23 17:34] #43 closed

[2018-08-31 10:40] jayaprakashr88 opened #44 "Security issue with credentials vars file leftover in /tmp/ folder"
Security issue with credentials vars file leftover in /tmp/ folder in case of error.

**My environment details:**
Provider: OpenStack
Terraform Server: 0.11.7
Python_terraform: 0.10.0

**My Source Code:**
[code]

With the above code, python terraform client creates a temporary vars file like **/tmp/tmppsjFxp** for the openstack credentials which gets missed to delete incase of error situation like

[2018-11-15 13:03] sanjaysingatalur commented on #32
how do i get to know the version of my python-terraform?

[2018-11-15 13:13] sanjaysingatalur commented on #32
i have my commands as below.eventhough i have specified as auto-approve as true its taking as false.Can you please help here.

kwargs = {"auto_approve": True}
t.apply(**kwargs)

when i execute t.apply i could see that -auto-approve is true and false as well and its taking as false ,would be waiting for user's input

terraform apply -var-file=/tmp/tmpti43sy65 -no-color -input=false -auto-approve=tr

[2018-11-15 13:15] sanjaysingatalur commented on #32
and i am using 0.10.0 version

[2018-12-26 01:47] fabrizio-iosa commented on #34
@dragan1979 Did you manage your project : https://devops.stackexchange.com/questions/3353/create-multiple-ec2-instances-using-python-script-in-loop-iteration

I am trying to do something very similar but having few issues :(

[2018-12-29 13:27] ismail44 opened #45 "Terraform ignore -auto-approve=True"
Using TF 0.11.10.

`terraform apply -no-color -input=false -auto-approve=false /tmp/tmpurzm0_cx`

When running this apply, terraform ran without prompting the user for `yes`. I suspect it's a change in the way that Terraform reads in the -auto-approve flag. According to the Terraform documentation, `-auto-approve` does not take any values, it's just a flag. I'm thinking that regardless of the valu

[2019-01-09 11:46] nitishnigam1989 opened #46 "How to create new workspaces?"
How can we create a new terraform workspace ? What will be the equivalent code for following if I need to create a "dev" workspace :
`terraform workspace new dev`

[2019-02-28 16:09] nitishnigam1989 commented on #46
Thankyou

[2019-02-28 16:09] #46 closed

[2019-02-28 16:11] nitishnigam1989 commented on #46
@omridanan Thank you ..it did worked

[2019-03-06 17:03] Marcus-James-Adams opened #47 "tf.fmt not returning error under try except"
I'm trying to catch when tf.fmt detects code in error with the following code snippet
Whilst the tf.fmt to list works and shows the error, the try does not seem to pick up and except on the except statement on it and my code continues
`print('Running terraform format')`
`    tf_status = python_terraform.Terraform()`
 `   tf_status.fmt(thispath, list=True, capture_output=False)`
 `   try:`
 `

[2019-03-18 23:06] Hayyk commented on #39
I have the same issue. How can I define terraform_bin_path?

[2019-03-26 09:10] AOUES commented on #39
I also have the same error, i took the same init as in the exemple but i get this error, some issues to propose ??

[2019-03-26 22:40] Hayyk commented on #39
@AOUES you can use this way `tf = Terraform(working_dir='/path/to/your/working/dir', terraform_bin_path='/path/to/terraform-bin')`

[2019-03-29 12:45] AOUES commented on #39
@Hayyk i have alredy fixed the problem by the modification of the init function so it consider the binarie path of terraform, thank you for the response

[2019-04-26 13:21] AOUES commented on #31
@atkinsonbg i have the same problem, did you change somthing in the init.py ??

[2019-04-26 13:52] AOUES commented on #31
Actually it's working in python2 without adding auto-approve option, but in python3 the tf.apply never completes

[2019-04-26 14:06] AOUES commented on #31
Solved ! I re-installed python-terraform and it works :)

[2019-04-30 06:40] amruthapbhat commented on #45
Hi,

I have used the below script and trying to execute terraform script but the terraform apply does not work

from python_terraform import *
tf = Terraform(working_dir='/home/ubuntu/Amrutha/pshell')
tf.plan(no_color=IsFlagged, refresh=False, capture_output=True)
approve = {"auto-approve": True}
print(tf.plan())
print(tf.apply(**approve))

Could you please let me know if iam missing put anything,

[2019-04-30 06:57] chanduusc commented on #45
whats the output?

[2019-05-03 16:56] Spikeophant commented on #38
I thought it might be worthwhile to note here for remote state with the release of Terraform 0.12 we'll be able to retrieve the remote state in JSON format, making it so there will just need to be a check to see if there's a backend config, and if so run terraform show -json to get the output rather than read in from a file.  I was getting ready to do the work to read the state in this way when I

[2019-05-07 21:12] Spikeophant commented on #47
I don't think .fmt will raise an exception if there's stuff that needs to be fixed, you should probably do this in an if block.

[2019-05-11 04:08] Lakshya2610 commented on #45
@amruthapbhat auto-approve won't work that way. You need to pass skip_plan=True to set auto-approve True. I'm not sure if this is the intended behaviour, but in the code, auto-approve is overwritten after it's passed based on skip_plan being True or False. @beelit94 Maybe you could answer this.

[2019-05-17 20:19] Kannancsq opened #50 "Multiple Provider in Terraform Not Working as Expected"
We are using Terraform with Azure, and currently implementing a Python Layer using Python-Terraform Library.

We use multiple provider inside a terraform script, as we have got different Service principal for doing different activities.

Service principal details are stored in Key Vault, and we pass only Key Vault Service Principal to retrieve other Service Principals. First provider service princ

[2019-05-28 06:06] jmjolysc commented on #32
@sanjaysingatalur I had the same issue. The `auto_approve` variable is tied to `skip_plan` (see [here](https://github.com/beelit94/python-terraform/blob/99950cb03c37abadb0d7e136452e43f4f17dd4e1/python_terraform/__init__.py#L109)).

So, you must save your plan and then apply it while skipping the plan:
1. `t.plan(out="plan.out")`
2. `t.apply("plan.out", skip_plan=True)`

[2019-05-30 23:01] Spikeophant opened #51 "Project appears abandoned"
Hello,

  This project appears abandoned, would anyone be interested in starting a -ng version of this, forking it, and pushing it to pypi pulling in PR's outstanding on this, and working the open buglist?  I'd be happy to do the fork and manage packaging and stuff.

[2019-05-31 05:42] beelit94 commented on #51
Hi @Spikeophant sorry, I haven't login to GitHub for and worked on terraform project for a while and didn't realize this project still pretty active. Could I add you as a contributor so you can publish the package of this project?

[2019-05-31 18:20] Spikeophant commented on #51
Yes that would be awesome, I am using it pretty heavily at work and would be happy to start doing some bug fixes, working ticket,s and reviewing PRs!

[2019-05-31 18:26] Spikeophant commented on #50
I haven't tried this, I will run some tests and look into the code on this.  I actually am getting ready to do a project that will require this so if the support isn't there now I will add it.

[2019-06-02 08:41] #51 closed

[2019-06-09 18:59] Spikeophant commented on #50
Can you show me an example of what's not working for you, I am calling tf plans that have multiple providers for varying modules we use without issue.  For example we have route53 DNS in a centralized account, so our modules update DNS in that account while deploying Fargate containers to another account, all seems to work for me without issue.

[2019-06-15 04:52] davzucky opened #54 "Support for Terraform 0.12"
Terraform 0.12 change the format of the tfvars file form a json to a simple key value list as per documentation
[https://learn.hashicorp.com/terraform/getting-started/variables.html](https://learn.hashicorp.com/terraform/getting-started/variables.html)
The current version only generates the json format type which is done by the classVariableFiles initialize as a property self.temp_var_files  in Te

[2019-06-18 15:58] Spikeophant commented on #54
Json vars files are still supported in Terraform 0.12.

[2019-06-18 15:59] Spikeophant commented on #54
From the official documentation of TF located at: https://www.terraform.io/docs/configuration/variables.html
Terraform also automatically loads a number of variable definitions files if they are present:

Files named exactly terraform.tfvars or terraform.tfvars.json.
Any files with names ending in .auto.tfvars or .auto.tfvars.json.
Files whose names end with .json are parsed instead as JSON object

[2019-06-18 16:01] Spikeophant commented on #54
Personally, I find it significantly easier to work with JSON in python vs. HCL and will continue to work with JSON variable files.

[2019-06-20 00:51] davzucky commented on #54
Indeed, my bad... thank you for taking time to reply to me.
1) I was on an old version and the commit [576197d](https://github.com/beelit94/python-terraform/commit/576197d768fdb000cbebbbd3b8c06dccac3f4517)  added the file extension.
2) I miised the point about the json in the doc. Sorry. will be more carreful next time

clossing the issue

[2019-06-20 00:51] #54 closed

[2019-06-20 00:53] davzucky commented on #54
When are you expecting to push the new version ?

[2019-06-20 04:47] Anbukugan opened #55 "python-terraform is not working with Terraform 0.12"
I have updated my terraform form version 0.11 to 0.12. I tried to execute the terraform script from the python using python-terraform wrapper API. But it shows the following error,

`Error: Argument or block definition required
on C:\Users\vmadmin\AppData\Local\Temp\2\tmpk1c5kkw3 line 1:
   1: {"client_id": "132456789", "client_secret": "welcome", "subscription_id": "098765432", "tenant_id": "0987

[2019-06-20 20:05] Spikeophant commented on #55
Do you have example code?  What resources and providers are you attempting to use?

[2019-06-20 20:08] Spikeophant commented on #54
Are you getting issues with TF 0.12, we do have a new version with a couple of fixes there as well as workspace support, but it looks like builds are failing so that will need to be resolved before it gets published.  I am not sure that I have the proper access rights in the repo to fix, hoping the owner will come back and allow me to start pushing.  He was back the other day and approved PRs incl

[2019-06-20 20:09] Spikeophant commented on #44
Thanks for this report, I will do some work around cleaning up tmp in the case of errors.

[2019-06-21 01:04] davzucky commented on #54
@Spikeophant yes I'm getting the error with TF 0.12. I tried the code which is currently on the main and  I can confirm that it works with TF 0.12 and the json format. I keep the code on my local repo until the next release happen.
Thank you for implementing the workspace support as well. I found your pull request the same day I want it.

[2019-06-21 06:19] beelit94 commented on #51
Hey @Spikeophant I want to follow up on this, I've added you to the collaborator. You will have the permission to release and publish the python-terraform. That being said, I'm still working on the document on how to publish it, please bear with for 1-2 days. I've been pretty occupied by family and work.

[2019-06-21 22:56] Spikeophant commented on #51
No worries, thank you.

[2019-06-21 22:58] Spikeophant commented on #54
Okay we'll get a version published next week at the latest and then we can retest your issue, if there's still problems on TF 0.12 I will get them fixed.

[2019-06-23 04:24] davzucky commented on #55
@Anbukugan This is the same error that I had #54.
@Spikeophant helped me with it. The code that fixes the problem is already checked in, however, we need to wait for the next version of the pip package to be able to pick it up which should happen next week.
I tested the fix and confirmed it works.

[2019-06-23 04:25] davzucky commented on #54
@Spikeophant Thank you for that. Greatly appreciate.

[2019-06-24 06:19] beelit94 commented on #54
thank you @Spikeophant for responding, sorry I was pretty occupied recently.
I have released 0.10.1 https://github.com/beelit94/python-terraform/releases
with the json extension fix.

[2019-06-25 11:48] Anbukugan commented on #55
@davzucky Sorry for the delayed response. I think the 10.0.1 version is available. I will check on it.
@Spikeophant If I face the same issue I will send you the code. Thanks

[2019-06-25 11:48] #55 closed

[2019-06-28 05:42] davzucky commented on #54
@beelit94 Thank you for the release. I can confirm that that 0.10.1 is working with terraform 0.12

[2019-07-09 17:22] Spikeophant commented on #50
Closing due to lack of information.

[2019-07-09 17:22] #50 closed

[2019-07-09 17:22] Spikeophant commented on #47
Closing due to inactivity.

[2019-07-09 17:22] #47 closed

[2019-08-14 13:26] mo-saeed opened #61 "[Question] How i know the current terraform version supported"
Hello,

Right now i want to use terraform latest version 0.12.6 and I am not sure how to find out if this version supported by python-terraform or not.

[2019-08-16 02:37] Spikeophant commented on #61
It should work with 0.12.6, but you'll have to try it and see if there are bugs.  I have not tried on that specific version.

[2019-08-22 15:14] efi1 commented on #61
@ mo-saeed - could you please update if it works?

[2019-08-22 16:01] Spikeophant commented on #61
I'm working on updating the tests for Terraform 0.12 while maintaining tests for 0.11 and below, but everything appears to work fine in the newer versions.  Hashicorp changed the format of some of the command outputs so that is breaking our tests.

[2019-08-22 16:01] Spikeophant commented on #61
I am using 0.12.6 for all my testing at this time on my personal machine, and 0.11.7 on my work machine.

[2019-08-22 20:55] efi1 commented on #61
Thanks!!, I'll check it out.

On Thu, Aug 22, 2019 at 7:01 PM Spikeophant <notifications@github.com>
wrote:

[2019-08-23 19:02] mo-saeed commented on #61
@efi1 yes it works well with me, I am just wondering is it necessary to install terraform on the machine before using python-terrafom ? that's why i asked my question actually

[2019-08-23 19:16] Spikeophant commented on #61
Yes this application is dependent upon the system terraform and does not ship with a terraform binary.  WE do not install terraform as part of the installation of python-terraform.

[2019-08-23 19:16] #61 closed

[2019-09-05 12:16] Malayks opened #62 "Getting TF Plan and TF Apply output 3 times"
My apologies if it is a dumb question or has been answered before. I tried looking into issues but could not find a relevant one.
I am running this:
[code]
For confidentiality reasons, I can not post the entire output but as you can see I got `error: b''` 3 times. How can I suppress this?
Thanks

[2019-09-05 16:38] Malayks commented on #62
Nevermind, found the issue

[2019-09-05 16:38] #62 closed

[2019-09-13 14:07] gudipudipradeep opened #63 "How to enable streaming log with terraform apply"
apply method **not showing streaming log**. it is showing once it is done. so that I could not able to understand which resource it is creating. when it was hung it will be problem identify  i think.
but when i am using **terraform apply** command from console i am getting streaming log.

[2019-09-13 17:12] Spikeophant commented on #63
Have you used capture_output=False?

[2019-09-13 17:36] gudipudipradeep commented on #63
this is my code
state_location = {"state": "./{0}_state/terraform.tfstate".format(cluster_prefix)}
approve = {"skip_plan": True, "capture_output": True, "raise_on_error": True}
approve.update(state_location)
tf.apply(**approve)

i went through the source code i found following paramters.
capture_output
raise_on_error

but i could not find any streaming   I am using latest version.

[2019-09-13 18:34] Spikeophant commented on #63
You should use "capture_output":False, let me know if that does not work for you.

[2019-09-13 18:35] Spikeophant commented on #63
Terraform Output
By default, stdout and stderr are captured and returned. This causes the application to appear to hang. To print terraform output in real time, provide the capture_output option with any value other than None. This will cause the output of terraform to be printed to the terminal in real time. The value of stdout and stderr below will be None.

from python_terraform import Terrafor

[2019-09-24 13:53] gudipudipradeep commented on #63
Working streaming log but option is little but confuse capture_output=False

[2019-10-02 08:42] SpirosStyliaras opened #64 "Tfstate load_file returns empty instance"
load_file method returns a brand new empty instance of Tfstate. Not able to use the method read_state_file.
I suggest to fix the load_file returning the tf_state instance initialized and setting correctly the value for the native_data data member.

[2019-10-02 09:53] #64 closed

[2019-10-11 05:13] ash-b opened #66 "Error: Argument or block definition required"
[code]
after running this script we are getting

`Error: Argument or block definition required`

[2019-10-16 07:11] ash-b commented on #66
anyone?

[2019-10-16 20:23] Spikeophant commented on #66
Without visibility into the actual TF plan I cannot help.

[2019-10-17 05:41] ash-b commented on #66
[code]

This is the main.tf file

[2019-10-17 17:11] ash-b commented on #66
No it works perfectly if hit manually!!
Even if you remove the output section still get the same error

[2019-10-21 02:48] rojopolis opened #67 "Apply plan file?"
Sorry if this has been discussed, I didn't find anything in the archive...
I'm attempting to apply a plan created in a previous step using this python-terraform, however, it seems that all command always include a -var-file argument which prevents apply from accepting a plan file:
[code]
Is there a way to override this behavior?

[2019-10-21 19:03] Spikeophant commented on #66
I will put a test together and take a deeper look, I don't see anything offhand that would be causing this unless they changed something in TF 0.12.10.

[2019-10-21 19:04] Spikeophant commented on #67
I can't think of one offhand, I have hit this issue at work as well.  I worked around it by not passing a saved plan in for what I was doing that was acceptable.

[2019-10-23 13:44] szaher opened #68 "workspace list is missing"
after updating from 0.10.0 to 0.10.1 the workspace function is divided to multiple functions but there is no way to list existing workspaces !

Any idea how can we do that ?

Do I need to implement the function ?

[2019-10-23 14:51] szaher commented on #67
I having the same issue with terraform 0.12
@Spikeophant  I have tried the workaround, it didn't work with me.
The problem is generate_cmd function is always returning a variables file even if there are no variables and this is not accepted by terraform 0.12

[2019-10-23 16:26] Spikeophant commented on #68
I will add it to my RC I've got built for 0.10.2.  It will be on a branch if you want to pull and install it until I get the release done.

[2019-10-23 16:40] Spikeophant commented on #67
Hmm my tests aren't failing around that on my box with TF 0.12.12 on it.  I will take another look at this, I have a few days off work and am planning on cutting a fresh release, I'll add this to the list of issues I want to take care of.

[2019-10-23 16:59] Spikeophant commented on #68
This functionality is added to the 0.10.2 branch.

[2019-10-24 12:45] ash-b commented on #66
I would like to give more details about the error!!
i tried on different terraform versions like 0.12.0, 0.12.12 (latest one), still getting the same error.
also i get the following error

before

[2019-10-24 14:30] szaher commented on #67
Can you guys provided how did you run it without providing a saved plan ?
Still doesn't work with me on tf 0.12.12

[2019-10-26 19:22] Spikeophant commented on #67
tf = Terraform(working_dir='.')
#you could have logic here to run and check a plan.
tf.apply(capture_output=False, input=False, skip_plan=True)

[2019-10-31 07:27] abstein2 commented on #67
As a temporary workaround, if you add `var=None` to your `apply` command, it bypasses the issue. For example:

[code]

Tested with Terraform v0.12.12

https://github.com/beelit94/python-terraform/blob/bda8b97e596138cbfbbe4c373b8524a705df626e/python_terraform/__init__.py#L232-L235
Since `value` is being set to `None`, it jumps over the creation of the var-file.

Thanks for all your hard work on the

[2019-11-01 19:37] abhinavkhanna-sf opened #70 "Terraform output does not work with v0.12"
Terraform output does not work with v0.12

        ret, out, err = self.output_cmd(*args, **kwargs)

code expects out to be dictionary. v0.12 might be having it as str

[2019-11-06 19:27] Spikeophant commented on #70
I will take a look this weekend.

[2019-11-06 19:29] Spikeophant opened #72 "Drop support for < TF 0.12"
There are several breaking changes in TF 0.12 in how the commands return data, expect input, etc, and I would like to drop support for older versions of terraform for the next release.  Users who need support for older versions would just need to run older versions of the module.

[2019-11-06 19:35] Spikeophant commented on #67
I am pulling this in as a bug to be fixed for the next release, which should be towards the end of this month, I fixed the tests for 0.12 so I can start actually doing bug work and have some confidence I didn't break everything.  I am also planning to drop support for under tf 0.12 with the next release, just FYI.  I'm also going to start managing the backlog of bugs with milestones so there's vis

[2019-11-06 19:36] #63 closed

[2019-11-06 20:32] abhinavkhanna-sf commented on #70
Thanks

[2019-11-07 10:05] mwidera opened #73 "subprocess call fails when issued from Robot Framework"
I've noticed following behavior:

Executing via `python script.py`:
[code]
Works fine, but when command is issued via robot framework subprocess starts to yield an error:
`robot testscenario.robot`

[code]

To fix this problem easiest thing to do is to set both stdout and stderr in cmd method to None and this might be done via "capture_output" flag which could be set to certain string to work with

[2019-11-07 10:11] mwidera commented on #73
Related PR: https://github.com/beelit94/python-terraform/pull/74

[2019-11-07 15:50] Spikeophant opened #75 "README update for 0.10.2"
Readme needs to include enhanced functionality:

- Workspaces
- Capture Output changes
- Deprecation of support for TF prior to 0.12.0
- Any other changes or enhancements pulled in
- Updated examples which can deploy EC2 or similar that people can use to get started.

[2019-11-07 15:51] Spikeophant commented on #73
This PR was merged to Develop, will be in the 0.10.2 release that is going to be out in a couple weeks, I appreciate the PR.

[2019-11-07 15:51] #73 closed

[2019-11-11 15:12] abhinavkhanna-sf commented on #72
can we deprecate  < v0.12 instead of completely dropping support and one have version that supports both and drop it in the next version?

[2019-11-11 19:44] Spikeophant commented on #72
I don't intend to go out of my way to break tf 0.12, and the current version for the most part supports both, there are some quirks, sure, but it mostly works right now.  There are some breaking changes in 0.12 that would require a rework of some parts to know the different and probably know the current version on the machine, which seems like a complication we do not want in the code.

[2019-11-11 19:46] Spikeophant commented on #70
I think I see what's going on here and should have a fix in the new version that will be out in a couple weeks.

[2019-11-13 21:19] dogmatic69 opened #76 "Missing method for graph"
Could be handy, if interested I will submit a PR

[2019-11-20 16:33] Spikeophant opened #77 "Missing method for validate"
Add support for terraform validate.

[2019-11-20 16:33] Spikeophant commented on #76
Sure submit a PR I'll review.

[2020-01-06 14:49] giva01121 opened #78 "Input variables wrong order - username, password"
Hello,
I'm facing the following issue. I've set `input=IsFlagged`, no matter which terraform action I execute,I'm always prompted to input the the value for os_password and then for os_username. Here's my code:
[code]
In all of my variable related files I've first declared the variable for username and under it the variable for password:
 09 variable os_username {}
 10 variable os_password {}

Do

[2020-01-06 18:30] Spikeophant commented on #78
What happens if you run this with straight TF, do you get the same behavior?

[2020-01-07 06:58] giva01121 commented on #78
well, it seems yes. Sorry, I thought that the issue was caused by the python module. Anyway do you have idea why it's happening ?

[2020-01-08 14:45] giva01121 opened #79 "Target option not working"
Hi,
I'm having problem while using "target" argument. Once I declare "target=network", the python module is not recognising it as a valid option. Here's my command:
`return_code, stdout, stderr = tf.apply(input=IsFlagged,capture_output=False, var={'default_sg_id':dflt_security_group,'lb_members':loadbalancers,'os_project_id':project_id}, target='network')`

And the error output is the following:
[

[2020-01-08 15:15] #79 closed

[2020-01-09 15:18] #78 closed

[2020-01-14 18:14] dennis-me commented on #39
Where can I find the terraform_bin_path on linux?

[2020-03-02 09:15] vishal8k commented on #31
This issue is still there in python3 when running `apply` command with `auto-approve`. This issue should be reopened. Re-installing python-terraform didn't work for me.

[2020-03-02 10:24] vishal8k opened #80 "Apply Command hangs when using auto-approve"
I'm using Python3. I tried to run terraform apply using `auto-approve` tag. This resulted in the program standing still after plan. It was stuck and there was no progress nor error from the script. However, the program was executed successfully when the `auto-approve` was removed.  Below is my code,

[code]

[2020-03-02 14:36] Spikeophant commented on #80
Are you using TF 0.12.x?

[2020-03-02 14:38] Spikeophant commented on #80
Oh and version of python-terraform?

[2020-03-03 06:33] vishal8k commented on #80
@Spikeophant
python-terraform = 0.10.1
Terraform = 0.12.21

[2020-03-05 08:17] vishal8k commented on #80
@Spikeophant Any update on this?

[2020-03-05 17:44] Spikeophant commented on #80
At cli you pass auto-approve like terraform apply -auto-approve, if you read the readme for this project flags like that get set as auto_approve=IsFlagged not True.  From the readme:
 terraform apply -no-color
     --> <instance>.apply(no_color=IsFlagged)

additionally you are using a dash which is explicitly called out in the documentation as well:
dash to underscore

remove first dash, and then

[2020-03-05 17:44] #80 closed

[2020-03-24 02:13] masterleros opened #81 "synchronous option fix not released"
Hello team,

Thanks for this superb module.
Currently I'm working in a live stdout implementation but 'synchronous' is broken, it's not being pop from kwargs. I saw that 0.10.2 fix it but is not yet released for pip install.
Could you please release it?

Thank you

[2020-04-16 13:26] taragurung opened #83 "Getting no such file or directory issue"
I am just trying to run simple terraform script with the package and getting the file not found issue even though the file exists.

I am running a python container and testing it inside it. Tried with both python3 and python2 but same problem.

**Here is my python script**
<img width="1006" alt="Screen Shot 2020-04-16 at 5 52 09 PM" src="https://user-images.githubusercontent.com/4478831/79461301-b

[2020-04-21 14:51] msmaryrussell opened #84 "auto-approve parameter is ignored"
The apply function in __init__.py seems to overwrite auto-approve. I have made a local change
in my copy of the code and it works by first checking if auto-approve has been set

I've added the if statement before the
        if not default['auto-approve']:
          default['auto-approve'] = (skip_plan == True)

I would like to contribute this fix if possible but starting with opening the issue -

[2020-05-05 18:02] narasimha18sv commented on #84
yes for me while using executing terraform from windows when i use terraform apply functioni am getting " flag provided but not defined: -auto-approve " error.

[2020-05-05 18:05] Spikeophant commented on #84
Yes this does happen, I will look at a fix.

[2020-05-13 16:45] Spikeophant opened #85 "Rewrite entire project"
A coworker and I are going to rewrite this entire project, focusing on tf 12 and fully supporting all functionality therein, as well as decoupling somethings that we feel should not be coupled as tightly as they are in the options building that we have today.  If anyone is interested in working with us on this we feel it will take 2 weekends of work, and one of those will be planning so we can add

[2020-05-13 16:47] Spikeophant commented on #84
I will address this in the rewrite I am going to do soon.  If you'd like to help with the rewrite, or even planning for the rewrite let me know.

[2020-05-13 16:51] Spikeophant commented on #83
You need to init it's looking for the backend.

[2020-05-14 11:27] narasimha18sv commented on #84
yes definitely I can help. Please let me know how we can collaborate.

[2020-05-22 04:02] AlverezYari commented on #85
@Spikeophant I'm interested in helping out.

[2020-05-22 13:07] AbhishekPattnaik04 commented on #39
@AOUES  how did u solve the issue?

[2020-05-24 15:45] Spikeophant commented on #85
@AlverezYari  awesome, I am getting a project put together with kanban board and tickets, etc, to get the work planned out.

[2020-05-29 15:36] shubb30 commented on #14
Is it intentional to return code 2 when there are changes to be applied?

[2020-06-12 13:06] mschuchard opened #87 "import method fails due to being reserved keyword"
The `import` method belonging to the `Terraform` class cannot be invoked because `import` is a reserved keyword in Python. Please rename the method to make it useable.

[2020-06-24 15:35] kingsleyadam commented on #84
It seems like providing the variable `skip_plan` will do the same thing. Correct?

It doesn't actually seem to skip the plan, but instead sets the auto-approve variable accordingly.

[2020-06-24 16:10] Spikeophant commented on #85
I have been having issues with my day job, I would llike to start this possibly this weekend.  I would like to start by laying out my proposed architecture for project layout, and get some feedback, I was planning to write that up this week however we had some critical software releases I needed to be a part of and was not able to get that time, so Saturday will be blocked out for that for me.

[2020-06-24 17:23] samvarankashyap commented on #85
@Spikeophant Would be happy to help. :+1:
I have good experience with building CI systems using GitHub actions.
Which I believe would be helpful in the development process.

[2020-06-24 17:26] Spikeophant commented on #85
Sounds good most of my expertise in CI systems is aws native or gitlab, so I havent' done a lot on the github side.  Would certainly be useful, right now I just build on my development machine.

[2020-06-24 17:29] AlverezYari commented on #85
I've got a lot of experience in this area as well so you guys just let me know how I can help!

[2020-06-25 11:33] viniciuscoelho commented on #31
I also have this problem with python3. Anyone found the solution?

[2020-06-25 22:13] viniciuscoelho commented on #87
Note: method name same as reserved keyword like import won't be accepted by python interpreter, to be able to call the method, you could call cmd_name by adding _cmd after command name, for example, import here could be called by

from python_terraform import *
t = Terraform()
return_code, stdout, stderr = t.import_cmd(*arguments, **options)

[2020-06-29 19:00] Spikeophant commented on #85
I setup a kanban board for this project, let me know if you would like to join, it's on Trello.  I started working on the rewrite this weekend, I didn't make a ton of progress yet.  I will work on getting tickets into the kanban for each method under the main classes, tests, etc.

[2020-06-30 02:46] AlverezYari commented on #85
Sure, do you have a join link?

[2020-07-01 13:35] shawalli commented on #85
@Spikeophant I'd be interested in helping out with this as well

[2020-07-04 01:43] davzucky commented on #85
@Spikeophant I'm interested of helping as well. I'm already using it to drive my unit test and would be happy to help you.
I can help you to setup as well CI on circleci if you are interested.
Just came back to your code as I'm starting a new project with terraform

[2020-07-08 17:45] Spikeophant commented on #85
Sounds good I have started the work on this, but last weekend was a holiday and I had some stuff going on, I will be back at it this weekend and will add the trello info here and we can start collaborating on what you'd like to do, I can setup zoom meetings or whatever if people would like to plan work.

[2020-07-22 13:59] jschoewe opened #88 "Default options are not being passed to the output command"
I was wondering if there's a reason why default options are not being passed in the output function like they are for init, plan, apply, and destroy. When I define a Terraform object and give it a state file to use, then I would expect that file to be automatically used by all the methods in this object instead of having to pass it again.

[2020-07-28 21:29] Arlington1985 opened #90 "Error: resource address does not exist in the configuration while importing"
While running import comand I am getting following error. When I run the command manually in the same directory, it works:

[code]

[2020-07-28 21:53] Arlington1985 commented on #90
It was my mistake, the terraform file was not ready yet when I was calling import

[2020-07-28 21:53] #90 closed

[2020-07-31 20:37] Abhinay-somisetty commented on #31
I was able to perform apply without an issue with auto-approve till last week.. but suddenly it stopped working. Anyone is facing this issue or found the solution for this issue? Thanks.

[2020-08-27 19:22] mike-19 commented on #83
@Spikeophant  it fails during init as well, running this inside a container. However the same works fine if I run it outside a container

[code]

[2020-08-27 19:30] Spikeophant commented on #83
It doesn't appear that terraform is in the path of the container.  In your
python can you echo $PATH and see what it outputs, then run the container
in interactive mode and echo $PATH and see if they match?  I misunderstood
your issue originally, thinking it couldn't find the .tf files, but it
cannot find the terraform executable itself.

On Thu, Aug 27, 2020 at 12:22 PM mike-19 <notifications@git

[2020-09-23 15:02] zjpiazza commented on #85
Is there anyone still working on this or is the project officially dead? My current use case is pulling messages from a Kafka topic and pulling out the relevant attributes for TF template, invoking init and apply and communicating if there are any failures back to the source.

[2020-09-23 15:43] Spikeophant commented on #85
It is not dead, I am just busy with other stuff, I just changed jobs and hopefully will have more time for this project, I am on a 4x10 schedule at work, so my 5th workweek day will become dedicated to getting this project fixed.  Your current use case seems like it should work with the existing codebase, the rewrite is simply to clean it up, and fix some issues around tf 0.12+, however there are

[2020-11-15 09:35] shfnet opened #91 "Disable temp json file"
Hi,
A question: is there a way to make all the variables appear in the command line instead of putting them in temp files?
It could be very useful when debugging issues
Many thanks

[2020-11-29 19:32] lhriley commented on #85
@Spikeophant I've been looking forward to this new release for quite a while now. Have you been able to make any progress? Is there a branch / fork available for testing?

[2020-12-10 19:41] EvanFabry commented on #85
@Spikeophant, did this get off the ground? I'm interested in contributing/potentially co-owning/managing a fork of this project (or full re-write, whichever you prefer) as well. I've got a pressing use case for this and would probably resort to rolling my own solution if it weren't for this repo, so it'd be great to contribute to yours instead :)

[2020-12-10 19:47] Spikeophant commented on #85
This has sort of started, but I didn't get far before I changed jobs and have just been super busy.  I am doing consulting now and haven't had much time to loop back to this project.  I would love to make progress on this and collaborate on how best to rebuild this project.  Let me know what you'd like to do.  I will see if I can add to this repo.

[2020-12-23 14:40] mateuszzz88 opened #92 "Problem when using inside IDE"
Hello,
I have python script that successfully runs from console
* I did `az login`
* I have `main.tf`
* scripts does create resources and then destroys them.
* and it all works.

However when run from IDE (in my case JetBrains clion) I get errors like this:
[code]
Do you have an idea what am I doing wrong?

[2020-12-23 14:54] mateuszzz88 commented on #92
more concretely first part of error stems from
[code]
The warning comes from
[code]

[2020-12-23 18:35] sammck commented on #92
Somehow colorization escape codes (used to make display output on the console appear in color) are being injected into the terraform input file. I suspect there is an environment variable set in your IDE that is turning this on, or something is confusing the app into thinking it is writing to a terminal rather than a file.

[2020-12-30 17:13] benweibel opened #93 "Apply command does not report failure on large terraform projects"
What I am seeing is
 - I call your tool's [apply function](https://github.com/beelit94/python-terraform/blob/develop/python_terraform/__init__.py#L97)
 - Terraform begins applying
 - Terraform fails -- Note that I am able to see the terraform failure in my python logs
 - Logs stop flowing. Your python code does not return

Here are two guesses of mine based on the underlying tooling you are using

[2021-01-03 03:53] EvanFabry commented on #85
I've made very minor changes to the repo in my fork here. https://github.com/EvanFabry/python-terraform

I'd like to make this a mature fork and a proper replacement for this project. There's a lot that needs to be done ofc. In the short term, I'll be setting up CircleCI and adding some basic tests for the sake of my own sanity (mostly enforcing fairly strict compliance with common linters). I'd a

[2021-01-19 18:35] mateuszzz88 commented on #92
I still have this problem, I reproduce it very reliably on pycharm and clion both, on two different computers.
* enabling/disabling capture_output doesn't help
* enabling/disabling no_color doesn't help either
* executing inside my script (in IDE) `subprocess.run(['terraform','plan'])` has the same problem, so probably this is not library's bug.

I think it "should" be caused by some env flag set

[2021-02-28 13:56] aubustou commented on #85
I rewrote nearly everything to support Terraform 0.14 and Python 3.6 (and typing and PEP8 and stuff):

https://github.com/aubustou/python-terraform

[2021-03-01 15:15] Spikeophant commented on #85
@aubustou looks good, thank you very much, I am not really using this tool much anymore, and am moving to a different role at a new company, again.  It's been pretty hectic lately so I really appreciate the effort you put in here.

[2021-03-01 15:15] #85 closed

[2021-03-03 14:57] eb-trigo opened #99 "GCP SQL PostgreSQL Read-Replica Problems"
Hi,

I'd like to know if it's possible to understand using Python and tfplan if a specific GCP SQL resource has changed?

_Name of the Terraform resource:_
`resource "google_sql_database_instance" "read_replica"`

_Python command:_
`terraform.plan(out = "tfplan", compact_warnings = IsFlagged, no_color = IsNotFlagged, capture_output = False)`

My problem is when I try to upgrade the GCP PostgreSQL

[2021-03-03 19:23] feliperandozup commented on #31
`terraform.apply(skip_plan=True) `
should do the trick

[2021-03-03 19:26] FelipeRando commented on #31
`terraform.apply(skip_plan=True) `
should do the trick

[2021-03-18 11:39] jon-dennis commented on #92
I had the same problem running `terraform plan` under the Azure CLI. I found it can be resolved by setting an environment variable in the PyCharm Run Configuration as follows:
`AZURE_CORE_NO_COLOR=1`

[2021-03-23 03:44] nithinvenugopal opened #100 "Publish new version to Pypi"
Hi,
Could you please publish the new 0.14 version to Pypi server? https://pypi.org/project/python-terraform/#history

[2021-03-25 14:05] af80a commented on #100
In the last version @aubustou removed the circle ci configuration that's why is not building anymore. Did @beelit94 stop maintaining this project?

[2021-03-25 14:28] Spikeophant commented on #100
Correct he is no longer maintaining this.  I was maintaining for a while but my time to focus on this is pretty small, I no longer use it at work either so I don't get time there to work with it.  I can move this functionality over to GitHub actions which is my intention.

[2021-03-26 06:13] arkrishna1986 commented on #67
Hi @Spikeophant
This issue still exists and not been addressed yet....I tried lot of options earlier and atlast found this issue...:)
Can you please update if this issue can be fixed or not..??

one more query:
1)Do you have support for Linode Cloud provider in this repo??if not,Can you please guide me how i can add linode support here...

Regards
Ram

[2021-04-06 07:09] ormarx-starkware commented on #77
please see https://github.com/beelit94/python-terraform/pull/102 @beelit94

[2021-04-18 19:40] alexcargf commented on #83
Hi I am struggling with this as well.in my case i cannot find the working directory,please help! Thanks

[2021-04-20 12:23] wrazik opened #103 "Support for terraform 0.15"
Terraform version 0.15.0 did remove flat --var-file, which is used for creating temporary file:

[code]
 Terraform release note https://github.com/hashicorp/terraform/blob/v0.15/CHANGELOG.md:
[code]
User see output:
[code]

[2021-04-26 14:51] michael-mcguinness opened #104 "Unable to use destroy flag when invoking plan"
This is for Terraform 0.15

From the command line I can run
[code]
None of the following invocations work

[code]
[code]

[2021-04-26 15:14] michael-mcguinness commented on #104
Closing for further investigation and clearer failure modes

[2021-04-29 19:28] wmiller112 opened #105 "Unable to import resource with space in name"
When importing resources where the resource has a space in the name, such as:
`t.cmd(import --var-file config.json module.github.github_team.teams["My Team"] <team_id>`
Get the error:
[code]
That exact command works when the resource name has no space. I know that in terraform cli, generally resource address must be single quoted, like so (whether there is a space or not in the resource name):
`te

[2021-04-30 18:42] naorlivne commented on #104
Seems to me like it's the same issue with #103

[2021-05-07 03:09] amitanand-ms commented on #83
I am also seeing same error

[2021-05-07 11:50] mike-19 commented on #83
What's the content in your dockerfile ?

On Fri, May 7, 2021, 8:39 AM amitanand-ms ***@***.***> wrote:

[2021-05-07 13:54] amitanand-ms commented on #83
I am not using docker, just trying to use terraform through Python on a VM
through a simple python code.

 from python_terraform import *
 tf =
Terraform(working_dir='/root/terraform',variables={'azure_pass':passw,
'resource_group_name':"testrgpython" ,'resource_location':"eastus"})
approve = {"auto-approve": True}
tf.plan()

And this gives the error

Traceback (most recent call last):
  File "<st

[2021-05-07 14:39] mike-19 commented on #83
Can you paste the output of the command

Which terraform

On Fri, May 7, 2021, 7:25 PM amitanand-ms ***@***.***> wrote:

[2021-06-03 07:55] prakash-26790 opened #107 "context/kubeconfig support"
I guess specifying kubernetes context or kubeconfig file in tf.apply is not there.

Im playing arround multiple kubernetes environment and need to provision set of resources in particular k8s cluster.
I could not manage multiple kubernetes using single terraform script.

[2021-06-04 04:42] beelit94 commented on #107
@PrakashTrove could you provide the example tf file and commands you used?
and does the native terraform commands work as expected?

[2021-06-07 15:20] rallyben commented on #103
Given the slew of differences between Terraform below 0.12.x and above 0.12.x, does it make sense to drop support of 0.11 and below in the next major release?

[2021-06-07 17:28] rallyben commented on #103
@Spikeophant
I found this post:

I'm quite invested in `python-terraform` and am I interested on the status.  Is this going to be a new package?  Is the current work published to GitHub?

[2021-06-09 09:25] ARUNSOORAJPS opened #108 "(1, '', '\nError: Failed to parse command-line flags\n\nflag provided but not defined: -force\n\nFor more help on using this command, run:\n terraform destroy -help\n')"
I have a terraform script which is able to destroy the instance using "terraform destroy" command. But I am getting an error while I try to do the same thing from python-terraform.

Please find the code I used for destroying the instance:
[code]
Errror:  `(1, '', '\nError: Failed to parse command-line flags\n\nflag provided but not defined: -force\n\nFor more help on using this command, run:\n  te

[2021-06-09 09:42] ARUNSOORAJPS commented on #108
Is it because of this? https://github.com/hashicorp/terraform/pull/27681

[2021-06-15 16:45] EggyJohn commented on #108
must be, i've run into this issue today after updating from an older version of Terraform - how annoying!

[2021-06-24 17:35] james-nesbitt commented on #103
0.15.2 and 1.0.0 are probably more important targets at this time.

[2021-06-29 12:23] TaharInfo opened #109 "invalid character '\x1b' after top-level value"
I have a Terraform template to provision a resource on Azure, it works using Terraform CLI.
I want to run the same Terraform script using python-terraform.

**tf.init** and **tf.plan** works well; but when I execute **tf.apply** and **tf.destroy** I got the error bellow :

stderr:
[code]

This is my provider.tf :
[code]

And this my python script :
[code]

Terraform: v1.0.1
Python: 3.9
Python-terr

[2021-07-01 12:23] TaharInfo commented on #109
It was an issue with Azure credentials in provider.tf, because my backend is located in another subscription
[code]

I will try to pass some Terraform params with tf.apply command :

[code]

[2021-07-01 14:40] evercast-mahesh2021 opened #110 "reading state files from s3"
Hi, i want to use this tool for one of my automation.

I have this flow running but failing: CloudWatch rule will be triggered when a new iam user is created and send the payload to SNS, SNS triggers a lambda to get the credentials and sent them to slack channel.

I just need couple of outputs for a user.
```terraform state show "module.iam_user_firstname_lastname.aws_iam_access_key.this[0]"```
``

[2021-07-01 23:49] #109 closed, assigned to nobody

[2021-07-03 21:07] cedricmenec commented on #105
For me, the following command works as expected:
`tf.cmd("import", "github_repository.main[\"My Repository Name\"]", "my-repository-name", config="./terraform-templates")`

Thus, I think that something like the following command should work for you.
`tf.cmd("import", "module.github.github_team.teams[\"My Team\"]", "your_team_id", var_file="config.json")`
:bulb: _Don't forget to escape the double q

[2021-07-08 21:13] josehelps commented on #108
Ran into it as well, looks like latest terraform 1.0.x changed its behavior and lib is applying the `-force` flag by default here: https://github.com/beelit94/python-terraform/blob/develop/python_terraform/terraform.py#L146 .. things should work ok if you explicitly say not to flag it eg: `terraform.destroy(capture_output='yes', no_color=IsNotFlagged, force=IsNotFlagged, auto_approve=True)` and se

[2021-08-14 08:19] testgithub-trial opened #111 "Need to create VPC -as per input"
Hii folks, I need help from your side. I have designed an webpage which is getting (user input) VPC name & location. but I can't able to create... because backend terraform  is asking cidr notation. I can give cidr notation at the back end & I can run.... but i don't want that. I need like, for example, just vpc network have to create  to be created as per the input of user. (if user gives, us-cen

[2021-08-22 13:20] fdervisi opened #112 "I can't start Terraform Apply with v1.0.5"
Hi beelit94,

I found your module, which would be fantastic for me to use! Unfortunatley I can't start Terraform Apply with version v1.0.5

Is this supported? I don't need to pass any variable, I just want to start the apply:

[code]

[2021-08-22 13:33] fdervisi commented on #112
EDIT: skip_plan=True worked for me

[2021-08-22 13:33] #112 closed, assigned to nobody

[2021-09-01 23:34] fdervisi opened #113 "terraform destroy does not work with v1.0.4"
This is my simple script, but it does not work. Something is missing or the version is not supported? Can somebody please help me?

[code]

This is the error:

[code]

[2021-09-01 23:37] fdervisi commented on #113
found the solution

from python_terraform import *
[code]

[2021-09-01 23:37] #113 closed, assigned to nobody

[2021-09-13 20:21] #110 closed, assigned to nobody

[2021-11-11 11:14] rafaelfelix commented on #103
for those running into this issue, I managed to get around it by calling Terraform().cmd() directly, like this:

[code]

ugly, I know. but does the job while this issue is not properly fixed.

[2021-11-29 16:19] piotrstanczyk-tomtom commented on #81
It doesn't work in 0.14.0 either. It lacks returning subprocess

[2022-01-08 07:51] arvind-kalyan opened #115 "Error with local tfstate while using Terraform cloud as backend"
Hello, I need help to resolve this error which I'm getting while working to build a flow on top of python_terraform APIs:

`Running apply in the remote backend. Output will stream here. Pressing Ctrl-C will cancel the remote apply if it's still pending. If the apply started it, will stop streaming the logs, but will not stop the apply running remotely.\n\nPreparing the remote apply...\n\nTo view t

[2022-01-10 14:02] Utkarsh-Kickdrum commented on #93
Is there any work around.
What I need is If suppose tf.apply() fails or if my terraform script execution faces some error, can I catch that error and stop further execution of my python script.

[2022-01-19 16:44] jerger opened #116 "interested in Support for tf1.x ?"
Hi,
we managed to support tf1.x here: https://gitlab.com/domaindrivenarchitecture/python-terraform
Are you interested in a discussion how to merge our changes?

BR

[2022-01-20 17:20] jerger commented on #116
Mentioned in https://github.com/beelit94/python-terraform/pull/117

[2022-03-17 17:29] lgm527 commented on #116
This would also be very helpful!

[2022-03-22 10:27] jerger commented on #116
Okay, will try a PR to start a discussion about the meantime collected diffs :-)

[2022-04-26 10:47] naorlivne commented on #103
For me personally the issue is with 0.15+ but as I prefer sticking to the latest version if https://github.com/beelit94/python-terraform/issues/116 will be merged and allow us to work with the latest terraform 1.x.x I'll be happy closing this ticket

[2022-05-25 11:10] fredochieng opened #120 "Drifts not detected"
I have configured everything right and provisioned my AWS infrastructure with 3 instances. When I make changes to the instances in the AWS console, when I call tf.plan() method I get the output below

**No changes. Your infrastructure matches the configuration.

Terraform has compared your real infrastructure against your configuration

and found no differences, so no changes are needed.**

But wh

[2022-05-26 08:29] kirankotari opened #121 "bug: 19 out of 31 tests are failing."
Full test summary: [pytest GitHub Action](https://github.com/beelit94/python-terraform/runs/6606454060?check_suite_focus=true#step:5:49)
=========================== short test summary info ============================
FAILED test/test_terraform.py::TestTerraform::test_cmd[<lambda>-Plan: 0 to add, 0 to change, 0 to destroy.-0-False--var_to_output]
FAILED test/test_terraform.py::TestTerraform::test_

[2022-05-27 11:49] noordeen03 opened #122 "connect: connection refused - https://registry.terraform.io/.well-known/terraform.json"
Hi,
We are trying run terraform init with python_terraform library as follows ,
return_code, stdout, stderr = tf.init(capture_output=True, reconfigure=True)

In local, it is getting executed successfully.
But in cloud run, we are getting the following error,

Failed to query available provider packages\n\nCould not retrieve the list of available versions for provider\nhashicorp/google: could not c

[2022-06-02 11:19] kirankotari commented on #121
To install terraform to run test cases
[code]

[2022-07-18 17:38] Kunalkatdare commented on #122
I'm running into the same issue. Any luck with it?

[2022-07-21 06:33] mpagot opened #124 "Provide a way to set TF_LOG and TF_LOG_PATH"
https://www.terraform.io/internals/debugging

Terraform support logging to file and controlling log verbosity using environment variables. Allow them to be controlled/enabled by python.

[2022-08-29 19:05] virtusavivek opened #125 "Getting Error while run the program"
Hi,

When I run the python program, Getting the below error. But I'm able to create the resources by using terraform CLI in cmd.
![image](https://user-images.githubusercontent.com/79599701/187278321-00ee29d8-4adc-4996-bb7c-52d5419de2b6.png)
Please give me the solution.

Thanks

[2022-08-30 18:07] #125 closed, assigned to nobody

[2022-09-18 22:07] lsalas300974 commented on #39
tf = Terraform(working_dir='/path/to/your/working/dir', terraform_bin_path='/path/to/terraform-bin') works for me, thanks @Hayyk

[2022-09-30 19:22] garciassolutions commented on #83
Ran into the same issue, `terraform` needed to be installed on the VM.
Hope it helps.

[2022-10-26 11:06] eliorerz commented on #124
I think you can set it if you pass `is_env_vars_included=True`

e.g.
[code]

[code]

[2022-10-26 11:41] mpagot commented on #124
thanks about is_env_vars_included
I like to include python-terraform in a python cli, and I like the user to control verbosity with a cli argument (better to say I like an already existing --verbose argument to also control the verbosity of the Terraform part)